 * {
        margin: 0px;
        font-family: "Passion One", cursive;
      }
      body {
        background-color: rgb(37, 36, 36);
      }
      .a {
        background-image: url(img/netflix.jpeg);
        background-size: cover;
      }

      .col {
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 1) 0,
          rgba(29, 15, 15, 0.2) 30%,
          rgba(0, 0, 0, 1) 100%
        );
      }
      .h {
        font-family: sans-serif;
        font-size: 45px;
        font-weight: 600;
        letter-spacing: -2px;
        
      }
      header {
        width: 100%;
        background-color: rgba(red, green, blue, 1);
        height: 80px;
        box-sizing: border-box;
        padding-left: 160px;
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 70px;
        word-spacing: 15px;
      }
      p {
        display: inline;
      }
      .p2 {
        margin-top: 0px;
        margin-left: 300px;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
      }

      .btn-1 {
        border: none;
        border-radius: 5px;
        width: 80px;
        height: 35px;
        background-color: red;
        color: white;
        vertical-align: middle;
        margin-left: 1104px;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .slider {
        font-size: 30px;
        box-sizing: border-box;
        width: 100%;
        height: 620px;
        color: white;
        padding-top: 200px;
        padding-left: 200px;
        padding-bottom: 500px;
        letter-spacing: 0px;
      }
      h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        margin-right: 50px;
        margin-bottom: 15px;
      }
      .p3 {
        margin-top: 15px;
        margin-left: 170px;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
      .p2 .p3 {
        padding: 10px;
      }
      .sec-2 {
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        width: 100%;
        height: 510px;
        box-sizing: border-box;
      }
      .sec-3 {
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        width: 100%;
        height: 510px;
        box-sizing: border-box;
      }
      .sec-4 {
        background-color: black;
        width: 100%;
        height: 400px;
        margin-top: 8px;
        margin-bottom: 8px;
        color: white;
        font-size: 28px;
        font-family: sans-serif;
        box-sizing: border-box;
        font-weight: 400;
        padding-left: 200px;
        padding-top: 50px;
      }
      .sec-6 {
        background-color: coral;
        width: 100%;
        height: 500px;
        background-color: black;
        margin-top: 8px;
        margin-bottom: 8px;
        box-sizing: border-box;
      }
      .sec-7 {
        background-color: chartreuse;
        width: 100%;
        height: 1000px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        box-sizing: border-box;
        padding-top: 70px;
        color: white;
      }
      .sec-8 {
        background-color: black;
        width: 100%;
        height: 400px;
        box-sizing: border-box;
        color: white;
      }
      .email {
        border: 1px solid;
        margin-top: 20px;
        margin-left: 200px;
        width: 400px;
        height: 50px;
        background-color: rgba(9, 8, 8, 0.7);
        color: white;
        display: inline;
        border-radius: 5px;
        font-size: 15px;
        font-family: sans-serif;
        padding-left: 15px;
      }
      .sign-in {
        margin-top: 20px;
        width: 150px;
        height: 50px;
        background-color: red;
        float: right;
        margin-right: 370px;
        margin-bottom: 30px;
        vertical-align: middle;
        display: inline;

        border-radius: 5px;
      }
      .bttn {
        width: 200px;
        height: 50px;
        background-color: red;
        border: none;
        border-radius: 5px;
        color: white;
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 700;
      }
      .col-6 {
        width: 50%;
        height: 500px;
        background-color: black;
        float: right;
        display: inline;
        box-sizing: border-box;
        padding-top: 50px;
      }
      .col-12 {
        width: 50%;
        height: 500px;
        background-color: black;
        box-sizing: border-box;
        text-align: center;
        padding-top: 150px;
        padding-left: 70px;
      }
      .s2 {
        vertical-align: middle;
        color: white;
        font-family: sans-serif;
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 15px;
      }
      .s3 {
        vertical-align: middle;
        color: white;
        font-family: sans-serif;
        font-size: 25px;
      }
      .col-13 {
        width: 50%;
        height: 510px;
        background-color: black;
        float: right;
        font-size: 28px;
        font-weight: 400;
        font-family: sans-serif;
        padding-top: 150px;
        box-sizing: border-box;
        letter-spacing: 2px;
        color: white;
      }
      .col-19 {
        width: 50%;
        height: 510px;
        background-color: black;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding-left: 60px;
        padding-bottom: 20px;
      }
      .p4 {
        font-family: sans-serif;
        letter-spacing: normal;
        font-size: 27px;
      }
      .col-20 {
        float: left;
        width: 50%;
        height: 500px;
        background-color: black;
        box-sizing: border-box;
        padding-left: 80px;
        padding-top: 50px;
      }
      .col-26 {
        float: left;
        width: 50%;
        height: 500px;
        background-color: black;
        padding-top: 150px;
        box-sizing: border-box;
        padding-left: 10px;
        color: white;
      }
      .p5 {
        font-family: sans-serif;
        letter-spacing: normal;
        font-size: 26px;
      }
      .h5 {
        font-size: 35px;
        color: white;
      }
      .h6 {
        font-size: 45px;
        color: white;
      }
      .faqs {
        width: 75%;
        height: 600px;
        margin: auto;
        background-color: black;
      }
      .Qs {
        background-color: rgb(45, 44, 44);
        border: none;
        box-sizing: border-box;
        width: 100%;
        height: 85px;
        margin-top: 8px;
        font-size: 35px;
        font-family: sans-serif;
        padding: 23px 25px;
      }
      .Qs:hover {
        background-color: rgb(82, 80, 80);
      }
      .p6 {
        color: white;
        font-family: sans-serif;
        letter-spacing: normal;
        font-size: 26px;
      }
      .inp {
        color: white;
        border: 1px solid;
        margin-top: 20px;
        height: 50px;
        width: 400px;
        border-radius: 5px;
        font-family: sans-serif;
        font-size: 15px;
        background-color: rgb(48, 47, 47);
      }
      .btn-2 {
        color: white;
        height: 52px;
        width: 200px;
        background-color: red;
        border: none;
        margin-left: 10px;
        font-size: 26px;
        font-family: sans-serif;
        letter-spacing: normal;
        border-radius: 5px;
        margin-top: 3px;
      }
      .col-4 {
        width: 33%;
        height: 400px;
        padding-top: 70px;
        padding-left: 80px;
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: normal;
        background-color: black;
        float: left;
        box-sizing: border-box;
        color: white;
      }
      .col-8 {
        width: 33%;
        height: 400px;
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: normal;
        padding-top: 130px;
        padding-left: 40px;
        padding: auto;
        background-color: black;
        float: left;
        box-sizing: border-box;
        color: white;
      }
       .lang5{
         padding: auto;
         width: 250px;
         height: 30px;
       }
  
      .col-11 {
        width: 33%;
        height: 400px;
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: normal;
        padding-top: 130px;
        padding-left: 40px;
        padding: auto;
        background-color: black;
        float: left;
        box-sizing: border-box;
        color: white;
      }
      .link {
        color: white;
        font-family: sans-serif;
        font-size: 18px;
      }